@import "../css/reset.scss";
@import "../css/typography.scss";
@import "../css/variables.scss";

body {
    min-height: 100vh;
    background-color: var(--background);
}

#app {
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}