@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol, ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Exo', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

button, header span {
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 2px;
}

button {
    font-size: 1rem;
}

// ======================HEADER======================

header {
    color: white;
    h1 {
        line-height: 1;
    }
    nav {
        color: var(--grey);
        font-size: 0.84rem;
    }
    span {
        color: var(--grey);
    }
}
// =======================MAIN========================
main section {
    color: var(--background);

    span {
        color: var(--grey);
    }
}

#project, #testimonial-title, #blog-title {
    span.custom {
        display: inline-block;
        padding-bottom: 15px;
    }
}

// ==========SECTION 1==========
#consultants {
    p {
        color: gray;
    }
    h3, h4 {
        padding-bottom: 1rem;
        position: relative;
    }
    
    h3:after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--green);
        position: absolute;
        top: 18px;
        left: 50%;
    }
}

// ==========SECTION 2==========
#about-us {
    p {
        color: gray;
        line-height: 1.3;
    }
}

// ==========SECTION 3==========
#mid-green {
    h3, p {
        margin: auto;
    }
    h3 {
        width: 50%;
    }
    p {
        width: 80%;
        color: var(--darkgrey);
    }
    button {
        color: white;
    }
}

// ==========SECTION 4==========
#project {
    .custom {
        padding-bottom: 10px;
    }
    h3 {
        width: 80%;
    }
}

// ==========SECTION 5==========
#testimonial {
    h3 {
        width: 40%;
        margin: 1.875rem 0;
    }
    h4 {
        margin-top: 3.125rem;
    }
    .card span {
        left: 0;
    }
    .card span:before {
        display: none;
    }
    p {
        color: var(--darkgrey);
    }
}

// ==========SECTION 6==========
#blog {
    h4 {
        padding: 0.625rem 0;
    }
    p {
        color: gray;
    }
}

// ==========PREFOOTER==========
#prefooter {
    p {
        color: lightgray;
        line-height: 1.5;
        width: 25%;
        text-align: center;
        margin: 0.625rem 0;
        margin-bottom: 1.5625rem;
    }
}

// =======================FOOTER========================
footer section {
    color: gray;
    li:hover:before {
        display: none;
    }
    nav {
        color: gray;
        font-size: 0.84rem;
    }
}
