:root {
    --background: #22213d;
    --green: #39febe;
    --red: #f71e3a;
}

.list-inline {
    display: flex;
    * {
        margin: 0 0.95rem;
    }
}

.btn {
    padding: 1.25rem 3.125rem;
    border: none;
    cursor: pointer;
} 