:root {
    --background: #22213d;
    --green: #39febe;
    --red: #f71e3a;
    --grey: #c0c0c0;
    --darkgrey: #353535;
}

.list-inline {
    display: flex;
    * {
        margin: 0 0.95rem;
    }
}

span.custom {
    position: relative;
    letter-spacing: 2px;
    left: 60px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: -60px;
        width: 45px;
        height: 3px;
        background-color: var(--green);
    }
}

.btn {
    padding: 1.25rem 3.125rem;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid #382f6d;
    }
    &:active {
        transform: translateY(1px);
        box-shadow: none;
    }
}

.btn-rounded {
    background-color: inherit;
    width: 40px;
    height: 40px;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}